<launch>
    <!-- Launch sender node -->
    <node pkg="chatroom3" type="sender_node.py" name="sender_node" output="screen">
        <!-- Add any arguments or parameters here -->
    </node>

    <!-- Launch receiver node -->
    <node pkg="chatroom3" type="receiver_node.py" name="receiver_node" output="screen">
        <!-- Add any arguments or parameters here -->
    </node>
</launch>

